.userpage
  = render 'tweets/homepage__left'

  .userpage__middle
    .userpage__middle__up
      .userpage__middle__up__header
        = image_tag @user.header__image.to_s, size: '600x200', class: 'profile__header'
        .userpage__middle__up__usericon
          = image_tag @user.usericon.to_s, size: '130x130', class: 'profile__usericon'
        .userpage__middle__up__blank
        = @user.name
        = @user.profile, class: 'user__profile'
        .userpage__middle__up__btn__space
    .userpage__middle__down
      = render @tweets

  .userpage__right
    = render "tweets/follow__list"